## Importing Packages

In [1]:
import os
import io
import zipfile
import requests
import pandas as pd
from dotenv import load_dotenv

## Utilities

In [2]:
def get_api_key(APIKEY):
    """Function to get the api keys which are stored inside the env file"""
    load_dotenv()
    api_key = os.getenv(APIKEY)
    
    if api_key is None:
        raise ValueError("API_KEY not found in the .env file.")
    
    return api_key

In [3]:
def download_and_extract_csv(file_url):
    """Function to download and extract csv files from zip files"""
    response = requests.get(file_url)
    
    if response.status_code == 200:
        with zipfile.ZipFile(io.BytesIO(response.content)) as z:
            csv_filename = z.namelist()[0]
            with z.open(csv_filename) as csvfile:
                df = pd.read_csv(csvfile)
                return df
    else:
        response.raise_for_status()

## Charging Station Data

In [4]:
df = pd.read_json("chargingStationData.json")
df.head()

,access,address,icon,icon_type,id,latitude,longitude,name,score,stations,url
0,1,"181 Orchard Rd, Singapore, Singapore, 238896",https://assets.plugshare.com/icons/Y.png,Y,328937,1.300700,103.839780,Orchard Central Supercharger,8.8,"[{'id': 772734, 'network_id': 8, 'outlets': [{...",http://api.plugshare.com/view/location/328937
1,1,"1, Jalan Johor Jaya, Taman Perindustrian Plent...",https://assets.plugshare.com/icons/G.png,G,80258,1.529448,103.816505,"Nissan Showroom, Johor Jaya",NaN,"[{'id': 116912, 'outlets': [{'connector': 2, '...",http://api.plugshare.com/view/location/80258
2,1,"1 Woodlands Square, Singapore 738099",https://assets.plugshare.com/icons/Y.png,Y,405679,1.436111,103.786496,Causeway Point Tesla Supercharger,7.2,"[{'id': 977811, 'network_id': 8, 'outlets': [{...",http://api.plugshare.com/view/location/405679
3,1,"seri negeri (government building, public carpark)",https://assets.plugshare.com/icons/G.png,G,154945,1.545174,103.559880,"seri negeri (government building, public carpark)",NaN,"[{'id': 298794, 'outlets': [{'connector': 7, '...",http://api.plugshare.com/view/location/154945
4,1,"Jalan Putra 4, Bandar Putra, 81000 Kulai, Johor",https://assets.plugshare.com/icons/G.png,G,405597,1.671748,103.650864,New IOI Galleria,NaN,"[{'id': 977590, 'outlets': [{'connector': 7, '...",http://api.plugshare.com/view/location/405597

In [5]:
df.shape

(250, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   access     250 non-null    int64
 1   address    250 non-null    object
 2   icon       250 non-null    object
 3   icon_type  250 non-null    object
 4   id         250 non-null    int64
 5   latitude   250 non-null    float64
 6   longitude  250 non-null    float64
 7   name       250 non-null    object
 8   score      98 non-null     float64
 9   stations   250 non-null    object
 10  url        250 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.6+ KB

In [7]:
df.isna().sum()

access         0
address        0
icon           0
icon_type      0
id             0
latitude       0
longitude      0
name           0
score        152
stations       0
url            0
dtype: int64

In [8]:
df.loc[0, "stations"]

[{'id': 772734,
  'network_id': 8,
  'outlets': [{'connector': 13,
    'id': 2263518,
    'kilowatts': 250.0,
    'power': 0,
    'status': None}]},
 {'id': 772736,
  'network_id': 8,
  'outlets': [{'connector': 13,
    'id': 2263521,
    'kilowatts': 250.0,
    'power': 0,
    'status': None}]},
 {'id': 772737,
  'network_id': 8,
  'outlets': [{'connector': 13,
    'id': 2263522,
    'kilowatts': 250.0,
    'power': 0,
    'status': None}]}]

## Road Traffic Data

In [9]:
def get_est_travel_times():
    url = "http://datamall2.mytransport.sg/ltaodataservice/EstTravelTimes"

    headers = {
        'AccountKey': get_api_key("LTA_DATAMALL_KEY"),
        'accept': 'application/json'
    }

    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        return pd.DataFrame(response.json())
    else:
        response.raise_for_status()
        
get_est_travel_times()

,odata.metadata,value
0,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'AYE', 'Direction': 1, 'FarEndPoint':..."
1,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'AYE', 'Direction': 1, 'FarEndPoint':..."
2,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'AYE', 'Direction': 1, 'FarEndPoint':..."
3,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'AYE', 'Direction': 1, 'FarEndPoint':..."
4,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'AYE', 'Direction': 1, 'FarEndPoint':..."
...,...,...
187,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'TPE', 'Direction': 2, 'FarEndPoint':..."
188,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'TPE', 'Direction': 2, 'FarEndPoint':..."
189,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'TPE', 'Direction': 2, 'FarEndPoint':..."
190,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'TPE', 'Direction': 2, 'FarEndPoint':..."
191,http://datamall2.mytransport.sg/ltaodataservic...,"{'Name': 'TPE', 'Direction': 2, 'FarEndPoint':..."

## Passenger Volume by Train Stations

In [20]:
# This only gives the data for upto 3 months

def get_train_volume(date):
    url = f"http://datamall2.mytransport.sg/ltaodataservice/PV/Train"

    headers = {
        'AccountKey': get_api_key("LTA_DATAMALL_KEY"),
        'accept': 'application/json'
    }

    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        return download_and_extract_csv(response.json()['value'][0]['Link'])
    else:
        response.raise_for_status()
        
get_train_volume('202405')

HTTPError: 500 Server Error: Internal Server Error for url: http://datamall2.mytransport.sg/ltaodataservice/PV/Train

## Passenger Volume by Bus Stop

In [16]:
# This only gives the data for the upto 3 months

def get_bus_volume(date):
    url = f"http://datamall2.mytransport.sg/ltaodataservice/PV/Bus?Date={date}"

    headers = {
        'AccountKey': get_api_key("LTA_DATAMALL_KEY"),
        'accept': 'application/json'
    }

    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        return download_and_extract_csv(response.json()['value'][0]['Link'])
    else:
        response.raise_for_status()
        
get_bus_volume('202405')

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-05,WEEKENDS/HOLIDAY,17.0,BUS,45379,266,187
1,2024-05,WEEKDAY,17.0,BUS,45379,510,462
2,2024-05,WEEKENDS/HOLIDAY,13.0,BUS,80051,1550,1488
3,2024-05,WEEKDAY,13.0,BUS,80051,2734,2771
4,2024-05,WEEKENDS/HOLIDAY,13.0,BUS,5319,8,112
...,...,...,...,...,...,...,...
198890,2024-05,WEEKENDS/HOLIDAY,20.0,BUS,43381,42,419
198891,2024-05,WEEKDAY,7.0,BUS,51011,2117,2187
198892,2024-05,WEEKENDS/HOLIDAY,7.0,BUS,51011,335,360
198893,2024-05,WEEKDAY,6.0,BUS,13139,194,301
198894,2024-05,WEEKENDS/HOLIDAY,6.0,BUS,13139,30,129

## Taxi Stand Information

In [15]:
# http://datamall2.mytransport.sg/ltaodataservice/TaxiStands

def get_taxi_stand_information():
    url = "http://datamall2.mytransport.sg/ltaodataservice/TaxiStands"

    headers = {
        'AccountKey': get_api_key("LTA_DATAMALL_KEY"),
        'accept': 'application/json'
    }

    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        return response.json()
    else:
        response.raise_for_status()
        
taxi = get_taxi_stand_information()
taxi_df = pd.DataFrame(taxi)
taxi_df.head()

,odata.metadata,value
0,http://datamall2.mytransport.sg/ltaodataservic...,"{'TaxiCode': 'A01', 'Latitude': 1.304294727, '..."
1,http://datamall2.mytransport.sg/ltaodataservic...,"{'TaxiCode': 'A05', 'Latitude': 1.304571786, '..."
2,http://datamall2.mytransport.sg/ltaodataservic...,"{'TaxiCode': 'A06', 'Latitude': 1.303519805, '..."
3,http://datamall2.mytransport.sg/ltaodataservic...,"{'TaxiCode': 'A08', 'Latitude': 1.303709915, '..."
4,http://datamall2.mytransport.sg/ltaodataservic...,"{'TaxiCode': 'A12', 'Latitude': 1.302879021, '..."